.sidebar-div {
    width: 100%;

    /* --small-screen: 480px;
    --medium-screen: 768px;
    --large-screen: 1024px;
    --extra-large-screen: 1200px; */
}



/* Small Screen */
@media (max-width: 1024px) {
    .sidebar-div {
        transform: translateX(-100%);
        position: absolute;
        z-index: 1;
        width: 200px;
    }

    .sidebar-div.open {
        transform: translateX(0);
    }
}